* a {
  text-decoration: none;
  color: inherit;
  display: block;
}
h2,
h5 {
  margin: 0;
  padding: 0;
}
p {
  fontWeight: 400;
  margin: 0;
  padding: 0;
}

.afterVictory {
  position: relative;
  background-image: url("../common/img/dark-texture-watercolor 1.png");
  background-repeat: no-repeat;
  height: 800px;
  /* width: 100vw; */
  /* display: flex;
  justify-content: space-between; */
  overflow: hidden
}
.bg_foto {
  position: absolute;
  height: 100%;
  width: 730px;
  background-image: url("../common/img/boy-with-ukrainian-flag.png");
  background-repeat: no-repeat;
  top: 0;
  left:729px;
}
.background {
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  /* background-image: url("../common/img/dark-texture-watercolor 1.png");
  background-repeat: no-repeat;  */
}
.container {
  max-width: 1440px;
  padding: 0 70px;
  margin: 0 auto;
  /* margin: 100px 0; */
}
h2 {
  font-family: Unbounded;
  font-size: 48px;
  font-style: normal;
  font-weight: 700;
  line-height: 130%; /* 62.4px */
  text-transform: uppercase;
}
.charity {
  margin-top: 40px;
  h5 {
    color: #171717;
    font-family: Unbounded;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%;
  }
}
.organization_logo {
  margin-top: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  max-width: 1290px;
  justify-content: center;
}

.border_logo {
  position: 'relative';
  width: 120px;
  height: 120px;
  flex-shrink: 0;
  border-radius: 40px;
  border: 1px solid #e2e2e2;
  
  display: flex;
  align-items: center;
  img {
    width: 106px;
    margin: 0 auto;
  }
}
.company {
  margin-top: 40px;
  h5 {
    color: #171717;
    font-family: Unbounded;
    font-size: 18px;
    font-style: normal;
    font-weight: 700;
    line-height: 140%; /* 25.2px */
  }
}
.busines_logo {
  margin-top: 30px;
  flex-wrap: wrap;
  display: flex;
  gap: 10px;
  justify-content: center;
}

@media (max-width: 1110px) {
  .header_nav {
  }
  .header_support {
  }
}
@media (max-width: 768px) {
  .partners {
    height: 100%;
  }
  .container {
    margin: 180px 0;
    padding: 0 20px;
   
  }
  }
  @media (max-width: 424.8px) {
    .container {
      margin: 80px 0;
      
    }
    h2 {
      font-size: 34px;
    }
    }
