@import "../stylesGlobal/globalStyles.module.css";



.header {
  height: 100vh;
  background-image: url("../common/img/dark_bg.png");
  
  
}
.header_title1, 
.header_title2 {
  color: var(--white);
}
.header_text16B {
  color: var(--white);
}
.container {
  max-width: 1440px;
  padding: 0 70px;
  margin: 0 auto;
}

.header_row {
  display: flex;
  justify-content: space-between;
  color: #ffffff;
}
.header_logo {
}
.header_menu {
  display: flex;
  width:100%;
  align-items: center;
  height: 81px;
}
.header_nav {
  display: flex;
  
  gap: 20px;
  padding: 0px 40px 0px 40px;
  
  
}
.header_nav_text {
  white-space: nowrap;
}

.header_support {
  /* position: relative; */
  display: flex;
  
  align-items: center;
  gap: 10px;
  padding: 0px 20px 0px 20px;
  margin-left: auto;
  
}


.header_social {
  display: flex;
  align-items: center;
  gap: 10px;
  margin: 0px 20px 0px auto;
}
.header_web {
  padding: 0px 0px 0px 20px;
  margin-left: auto;
  border-left: 1px solid  #484848;
  img {
    width: 40px;
    height:40px;
  }
}

@media (max-width: 1110px) {
  .header_nav {
    padding: 0px 20px 0px 20px;
  }
  .header_support {
  gap: 10px;
  padding: 0px 10px 0px 10px;
    
    
  }
  
}
